.main-view {
    
}

.main-view--1 {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.main-view--cur {

}

.main-view--mxn {
    display: flex;
    align-items: center;
}

.main-view--mxn img {
    margin-left: 10px;
    border-radius: 2px;
    margin-right: 5px;
}

.main-view--cont {
    margin-top: 10px;
}

@media (min-width: 700px) {
    .main-view {

    }
}